<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">


<div class="left-box">
	<h1>YER A WIZARD HARRY</h1>
	<button id="buttonRand" type="button" onclick="location.href='/random'">Accio GIF!</button>
</div>

<div class="random-gif">
	<img src="<%= @result %>" height="500" width="700">
</div>

