<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

<body class="home">
	<div id="enter">
		<h1> Get ready to enter the</h1>
		<h1> GIF dimension...</h1>
		<h2>once you enter.. you may never leave</h2>
	</div>
	<div id="random">
		<button id="big" type="button" onclick="location.href='/random'">Get a random Harry Potter GIF</button>
	</div>
</body>

