div.left-box{
	margin-top: 100px;
	margin-left: 50px;
	float: left;
}

.left-box h1{
	font-family: 'Cinzel Decorative', cursive;
	letter-spacing: 2px;
	word-spacing: 5px;
	color: white;
	font-size: 45px;
}

div.random-gif{
	margin-right: 50px;
	float: right;
}

button#buttonRand {
	margin-left: 200px;
	height: 70px;
	width: 120px;
	font-size: 18px;

	background-color: #7dede2;
	border-color: #7dede2;
	border-radius: 5px;
	font-family: 'Cinzel', serif;
}

button#buttonRand:hover {
  	background-color: #57d1c4;
}